@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/Fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/Fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url('./assets/Fonts/gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glorita';
  src: url('./assets/Fonts/gloritta-font-1741378048-0/Gloritta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .gradient-text {}
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

@keyframes floating {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(15px) rotate(2deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari */
}


/* WhiteScreen - Initially Covers Waitlist */
.white-screen {
  background: white;
  transform: translateY(0);
  transition: transform 700ms ease-in-out 700ms;
  /* Delayed to start after black fades */
}

.start-transition .white-screen {
  transform: translateY(-100%);
}


.bg-glorita-gradient {
  background: radial-gradient(63.35% 63.35% at 50% 50%, #FBB809 0%, #8B590C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}